<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">プロトタイプ編集</h2>

      <%# エラーメッセージがあれば表示する %>
      <% if @prototype.errors.any? %>
        <div class="error_messages">
          <ul>
            <% @prototype.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%# 部分テンプレートでフォームを表示する %>
      <%= render 'form', prototype: @prototype %>
    </div>
  </div>
</div>